<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>

        <script type="text/javascript">
            // 화면 로드했을 때, 바로 실행되야하는 함수들을 넣는다.
            $(document).ready(function () {
                showArticles();
            });

            // POST 요청 예시
            function postArticle() {
                let url = $("#post-url").val()
                let comment = $("#post-comment").val()

                $.ajax({
                    type: "POST",
                    url: "/memo",
                    data: { url_give: url, comment_give: comment},
                    success: function (response) { // 성공하면
                        if (response["result"] == "success") {
                            alert("Posting Success!");
                            window.location.reload();
                        } else {
                            alert("Server Error!")
                        }
                    }
                })
            }

            // GET 요청 예시
            function showArticles() {
                $.ajax({
                    type: "GET",
                    url: "/memo",
                    data: {},
                    success: function (response) {
                        let articles = response["articles"];
                        for (let i = 0; i < articles.length; i++) {
                            makeCard(articles[i]["image"], articles[i]["url"], articles[i]["title"], articles[i]["desc"], articles[i]["comment"])
                        }

                    }
                })
            }
        </script>

        <style type="text/css"></style>
    </head>

    <body>
        
    </body>
</html>