<!DOCTYPE html>
    <html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>공차_kiosk_administrator_menu_list</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="flexbox.css">
        <link rel="stylesheet" href="{{url_for('static', filename= 'style.css')}}">
    </head>
    <body>

        <nav class="nav_left">
            <div class="logo">
                <img src="img/공차.png" alt="logo">
            </div>
            <ul>
                <li><a href="menu_list.html">메뉴관리</a></li>
                <li><a href="menu_list.html">메뉴현황</a></li>
                <li><a href="menu_change.html">메뉴등록/수정</a></li>
                <li><a href="topping_change.html">토핑등록/수정</a></li>
            </ul>
        </nav>

        <nav class="nav border d-flex nav_top">
            <a class="nav-link active" href="menu_list.html">메뉴관리</a>
            <a class="nav-link" href="payment_list.html">매출관리</a>
        </nav>
        <button type="button" class="btn btn-light logout"><a href="login.html">로그아웃</a></button>
        
        
        <h2>메뉴 등록/수정</h2>
        <div class="container d-flex">
            <!--category와 menu 선택-->
            <div class="category_menu col-5">
                <div class="row d-flex flex-column">
                    <h6>카테고리</h6>
                    <div class="buttons category_buttons">
                        <button type="button" data-toggle="modal" data-target="#Modal_category_add" class="btn" id="category_add_btn">추가</button>
                        <button type="button" data-toggle="modal" data-target="#Modal_category_remove" class="btn" id="category_remove_btn">삭제</button>
                    </div>
                    <select class="custom-select" id="category_select" size="10">
                    </select>
                    <h6>메뉴명</h6>
                    <select class="custom-select" id="menu_select" size="10">
                    </select>
                </div>
            </div>
               
        
            <!--메뉴정보칸-->
            <div class="menu_discription col-6"> 
                <h6>메뉴정보</h6>
                <form id="menu_discription_form" class="menu_discription_form">
                    <div class="form-group row">
                    <label for="input_category" class="col-sm-4 col-form-label col-form-label-sm">카테고리명</label>
                    <div class="col-sm-8">
                        <select id="input_category" class="form-control form-control-sm bg-secondary">
                        </select>
                    </div>
                    </div>
                    <div class="form-group row">
                    <label for="input_menu" class="col-sm-4 col-form-label col-form-label-sm">메뉴명</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm" id="input_menu" >
                    </div>
                    </div>
                    <div class="form-group row">
                        <label for="input_price" class="col-sm-4 col-form-label col-form-label-sm">금액</label>
                        <div class="col-sm-8">
                        <input type="number" class="form-control form-control-sm" id="input_price">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="input_img" class="col-sm-4 col-form-label col-form-label-sm">사진</label>
                        <div class="col-sm-8">
                            <input type="file" class="form-control-file form-control-sm" id="input_img">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="input_kitchen" class="col-sm-4 col-form-label col-form-label-sm">주방출력</label>
                        <div class="form-check col-sm-7">
                            <input class="form-check-input position-static" type="checkbox" id="input_kitchen" value="option1" aria-label="...">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="input_waiting" class="col-sm-4 col-form-label col-form-label-sm">준비중 표시</label>
                        <div class="form-check col-sm-7">
                            <input class="form-check-input position-static" type="checkbox" id="input_waiting" value="option1" aria-label="...">
                        </div>
                    </div>
                    <!--음료가능여부-->
                    <div class="menu_discription_plus">
                        <div class="form-group row">
                            <label for="input_ice" class="col-sm-4 col-form-label col-form-label-sm">ICE</label>
                            <div class="form-check col-sm-7">
                                <input class="form-check-input position-static" type="checkbox" id="input_ice" value="option1" aria-label="...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input_hot" class="col-sm-4 col-form-label col-form-label-sm">HOT</label>
                            <div class="form-check col-sm-7">
                                <input class="form-check-input position-static" type="checkbox" id="input_hot" value="option1" aria-label="...">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input_topping" class="col-sm-4 col-form-label col-form-label-sm">토핑갯수제한</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control form-control-sm" id="input_topping">
                            </div>
                        </div>
                    </div>
                    <!--버튼-->
                    <div class="buttons float-right">
                        <button type="button" class="btn" data-toggle="modal" data-target="#Modal_add" id="menu_add_btn">메뉴등록</button>
                        <button type="button" class="btn" data-toggle="modal" data-target="#Modal_modify" id="menu_modify_btn">메뉴수정</button>
                        <button type="button" class="btn" data-toggle="modal" data-target="#Modal_remove" id="menu_remove_btn">메뉴삭제</button>
                    </div>

                    


                </form>
            </div>


        </div>

        <!-- 메뉴 모달창-->
        <div class="modal fade" id="Modal_add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="ModalLabel"></h5>
                  <button type="button" class="close" id="close_btn" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn" data-dismiss="modal" id="add_ok_btn" >OK</button>
                </div>
              </div>
            </div>
        </div>

        <div class="modal fade" id="Modal_modify" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="ModalLabel"></h5>
                  <button type="button" class="close" id="close_btn" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn" data-dismiss="modal" id="modify_ok_btn">OK</button>
                </div>
              </div>
            </div>
        </div>

        <div class="modal fade" id="Modal_remove" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="ModalLabel"></h5>
                  <button type="button" class="close" id="close_btn" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn" data-dismiss="modal" id="remove_ok_btn">OK</button>
                </div>
              </div>
            </div>
        </div>


        <!--카테고리 모달창-->
        <div class="modal fade" id="Modal_category_add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="ModalLabel">카테고리추가안내</h5>
                  <button type="button" class="close" id="close_btn" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>추가할 카테고리명을 입력해주세요.</p>
                  <input type="text" id="input_category_add">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn" data-dismiss="modal" id="cateogory_add_ok_btn">OK</button>
                </div>
              </div>
            </div>
        </div>


        <div class="modal fade" id="Modal_category_remove" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="ModalLabel"></h5>
                  <button type="button" class="close" id="close_btn" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn" data-dismiss="modal" id="cateogory_remove_ok_btn">OK</button>
                </div>
              </div>
            </div>
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="{{url_for('static', filename='menu_change.js')}}"></script>

        <!-- ajax download -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script type=text/javascript>
    </body>
    </html>